/* GENERAL */
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fcfdf5;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
body{
    margin: 0;
    background-color: #fcfdf5;
}
footer{
    background-color: #d5708e;
    height: 100px;
}
.ola{
    width: 100%;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 body header img{
    width: auto;
    height: 80px;
 }
body header nav{
    width: 50%;
    justify-content: space-around;
    flex-flow: nowrap row;
    position: relative;
    padding-right: 20px;
}
body header nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
body header nav li{
    display: flex;
    align-items: center;
    padding: 11px 3% 11px 3%;
    text-align: center;
    border-style: dashed;
    border-color: #d5708e;
    border-radius: 10px;
}
/* MAIN */
.cajaPrincipal{
    display: flex;
    justify-content: space-around;
    padding: 80px 0px;
}
.textoPrincipal h1{
    margin-left: 25%;
    margin-bottom: 5px;
    margin-top: 70px;
}
.cajaPrincipal h4{
    display: inline-block;
    color: #d5708e;
}
.cajaPrincipal hr{
    width: 10%;
    display: inline-block;
    /* margin-left: 26%;
    margin-top: 2px; */
    width: 70px;
    height: 1px;
    margin: 0;
    background-color: black;
}
.textoPrincipal-abajo{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20%;
}
.textoPrincipal-abajo h4{
    margin: 0px 10px;
}
.cajaPrincipal button{
    background-color: #d5708e;
    padding: 10px;
    border-color: beige;
    border-style: inherit;
    border-radius: 50px;
}
.cajaPrincipal button a{
    color: black;
}
.cajaPrincipal img{
    height: 300px;
}
main hr{
    background-color: black;
    height: 1px;
}
/* CAMBIO MAIN A RECUADROS DE MAIN */
main .cajasContenedoras{
    background-color: #d5708e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 700px;
    justify-items:center;
    align-items: center;
}
main .cajasContenedoras div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    width: 60%;
    height: 200px;
    border-style: dashed;
    border-radius: 50px;
    border-color: #fcfdf5;
}
main .cajasContenedoras div p{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 0px 15px;
    color: #fcfdf5;
}
main .botonUnete{
    background-color: #d5708e;
    display: flex;
    justify-content: center;
}
main .botonUnete button{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border-style: double;
    background-color: #d5708e;
    border-color: #fcfdf5;
}
main .botonUnete button a{
    color: #fcfdf5;
}
/* FOOTER  */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div img{
    height: 50px;
    padding: 10px;
}
.footer-derechos{
    color: #fcfdf5;
    font-size: 25px;
}
/* SOBRE-NOSOTROS */
.cajaSuperior-sobreNosotros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cajaSuperior-sobreNosotros img{
    height: 500px;
    padding-right: 100px;
}
.titulos{
    display: inline-block;
    font-size: 60px;
    padding-left: 100px;
}
.textoSn{
    font-size: 30px;
    padding: 2% 10% 0% 10%;
}
.titulos1{
    padding: 120px 0px 50px 15%;
    font-size: 60px;
    margin: 0;
    background-color: #d5708e;
    color: white;
} 
.ola{
    z-index: -1;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    top: 10px;
}
#textorosa{
    background-color: #d5708e;
    margin: 0;
    color: #fcfdf5;
    padding-bottom: 10%;
}
/* PROMOCIONES */
.cajaSuperior{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    margin-bottom: 100px;
}
.cajaSuperior h1{
    display: inline-block;
    text-align: center;
}
.imagenesPromocion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px   ;
    justify-items: center;
    align-items: center;
}
.fondoRosa{
    background-color: #d5708e;
}
.olaPromociones img{
    position: absolute;
}
.imagenesPromocion img{
    height: 280px;
}
#cajaTextoInf{
    background-color: #d5708e;
}
 #textoInferior{
    display: flex;
    justify-content: center;
    color: #fcfdf5;
    margin: 0;
}
#olaPromociones{
    left: 0;
    margin: 0;
    top: 20;
}
/* FAQ */
.preguntasFrec{
    padding-left: 90px;
    font-size: 50px;
}
.preguntas-faq{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.preguntas-faq div{
    width: 50%;
    font-size: 20px;
    padding: 25px 40px;
    box-sizing: border-box;
}
.preguntas-faq .p3{
    width: 90%;
}
/* REGISTROS */
.mainRegistro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.mainRegistro .razonesRegistro , .mainRegistro .razonesComerciales{
    width: 90%;
    border-color: black;
    border-style: solid;
    margin: 10px 10px;
    padding: 20px 15px;
}
main label{
    padding: 10px 10px;
}
#comentarioDeContacto{
    height: 200px;
    width: 99.3%;
}
@media screen and (max-width: 425px){
/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-content: center;
}
body header nav{
    width: 100%;
    padding: 0;
    margin-top: 10px;
}
body header nav ul{
    display: flex;
    background-color: #d5708e;
    margin: 0;
    justify-content: none;
}
#texto-doble{
    display: inline-block;
    width: 100px;
}
body header nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 4.5px;
    border-radius: 0px;
    border-style: none;
    font-size: 0.7rem;
}
body header nav li a{
    color: #fcfdf5;
}
/* MAIN */
.cajaPrincipal{
    padding: 0;
}
.cajaPrincipalDerecha{
    position: absolute;
    z-index: -1;
    margin-top: 10px;
    right: 7px;
}
.cajaPrincipalIzquierda{
    height: 320px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.textoPrincipal h1{
    margin-left: 0;
    width: 70%;
}
.textoPrincipal-abajo{
    margin: 0;
    justify-content: left;
}
.textoPrincipal-abajo h4{
    color: black
}
main .cajasContenedoras{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
}
main .cajasContenedoras div{
    height: auto;
    width: 80%;
    margin-top: 50px;
}
.botonUnete{
    padding: 5px;
}
/* FOOTER */
footer{
    display: flex;
}
footer .footer-derechos{
    font-size: medium;
}
.redes{
    display: flex;
}
footer .redes img{
    height: 20px;
}
/* PROMOCIONES */
.imagenesPromocion{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2,200px);

}
.imagenesPromocion img{
    height: 150px;
}
.cajaSuperior{
    height: auto;
    margin: 0;
}
.cajaSuperior h1{
    font-size: 30px;
    width: 90%;
}
#cajaSuperior-calidad{
    text-align: center;
    margin-top: 0;
}
}
/* TABLET */
@media screen and (min-width:426px) and (max-width:768px){
header{
    /* justify-content: left; */
    width: 100%;
}
body header nav{
    padding-right: 0;
    width: 80%;
}
body header img{
    height: 50px;
}
main .cajasContenedoras div p{
    padding: 0px 0px;
}
footer .footer-derechos{
    font-size: 20px;
}
footer div img{
    height: 35px;
}
/* PROMOCIONES */
.imagenesPromocion img{
    height: 10em;
}
}
/* LAPTOP */
@media screen and (min-width:769px) and (max-width:1024px){
body header nav{
    padding-right: 22px;
    width: 60%;
}
    /* PROMOCIONES */
.imagenesPromocion img{
    height: 13em;
}
}
