.cajasContenedoras div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenesPromocion, .cajasContenedoras {
  display: grid;
  justify-items: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  background-color: #fcfdf5;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header img {
  width: auto;
  height: 80px;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  header nav {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }
  header nav ul {
    display: flex;
    background-color: #d5708e;
    margin: 0;
  }
  header nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 4.5px;
    border-radius: 0px;
    border-style: none;
    font-size: 0.7rem;
  }
  header nav li a {
    color: #fcfdf5;
    font-size: 13px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    width: 100%;
  }
  header nav {
    padding-right: 0;
    width: 80%;
  }
  header img {
    height: 50px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body header nav {
    padding-right: 22px;
    width: 60%;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  body header nav {
    width: 100%;
  }
  body header ul {
    justify-content: space-around;
  }
  body header ul a {
    font-size: large;
  }
}
nav {
  width: 50%;
  position: relative;
  padding-right: 20px;
}
nav li {
  display: flex;
  align-items: center;
  padding: 11px 3%;
  text-align: center;
  border-style: dashed;
  border-color: #d5708e;
  border-radius: 10px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.cajasContenedoras {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.imagenesPromocion {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5708e;
  height: 100px;
}
footer .redes a {
  height: 50px;
}
footer .redes img {
  height: 50px;
  padding: 10px;
}
footer .footer-derechos {
  color: #fcfdf5;
  font-size: 25px;
}

@media screen and (max-width: 426px) {
  footer {
    display: flex;
  }
  footer .footer-derechos {
    font-size: medium;
  }
  footer .redes {
    display: flex;
    align-items: center;
  }
  footer .redes img {
    height: 20px;
  }
  footer .redes a {
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  footer .redes img {
    padding: 0px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: auto;
  }
  footer .footer-derechos {
    font-size: 20px;
  }
  footer .redes img {
    height: 50px;
  }
}
main .botonUnete {
  background-color: #d5708e;
  display: flex;
  justify-content: center;
}
main .botonUnete button {
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  border-style: double;
  background-color: #d5708e;
  border-color: #fcfdf5;
}
main .botonUnete button a {
  color: #fcfdf5;
}

.cajaPrincipal button {
  background-color: #d5708e;
  padding: 10px;
  border-color: beige;
  border-style: inherit;
  border-radius: 50px;
}
.cajaPrincipal button a {
  color: black;
}

.contenedorSuperior p {
  font-size: 30px;
  padding: 2% 10% 0% 10%;
}
.contenedorSuperior div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.contenedorSuperior div img {
  height: 500px;
  padding-right: 100px;
}
.contenedorSuperior div h1 {
  display: inline-block;
  font-size: 60px;
  padding-left: 100px;
}

.ola {
  z-index: -1;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  top: 10px;
  width: 100%;
}

.contenedorInferior h1 {
  padding: 120px 0px 50px 15%;
  font-size: 60px;
  margin: 0;
  background-color: #d5708e;
  color: white;
}
.contenedorInferior p {
  font-size: 30px;
  padding: 2% 10% 0% 10%;
}
.contenedorInferior #textorosa {
  background-color: #d5708e;
  margin: 0;
  color: #fcfdf5;
  padding-bottom: 10%;
}

@media screen and (max-width: 426px) {
  .contenedorSuperior {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .contenedorSuperior div img {
    height: 100px;
    padding: 0;
  }
  .contenedorSuperior div h1 {
    font-size: 2rem;
    padding: 0;
    width: 40%;
  }
  .contenedorSuperior p {
    font-size: 25px;
  }
  .contenedorInferior .titulos1 {
    padding: 10px 20%;
    font-size: 35px;
    text-align: center;
  }
  .contenedorInferior p {
    font-size: 20px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .contenedorSuperior div img {
    width: 40%;
    height: auto;
    padding-right: 0;
  }
  .contenedorSuperior div h1 {
    width: 60%;
    box-sizing: border-box;
    padding-left: 5px;
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contenedorSuperior h1 {
    width: 40%;
  }
  .contenedorSuperior div img {
    width: 40%;
    height: auto;
    padding-right: 50px;
  }
}
.cajaPrincipal {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  padding: 80px 0px;
}
.cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal h1 {
  margin-left: 25%;
  margin-bottom: 5px;
  margin-top: 70px;
}
.cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal-abajo {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20%;
}
.cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal-abajo h4 {
  display: inline-block;
  color: #d5708e;
  margin: 0px 10px;
}
.cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal-abajo hr {
  width: 10%;
  display: inline-block;
  width: 70px;
  height: 1px;
  margin: 0;
  background-color: black;
}
.cajaPrincipal img {
  height: 300px;
}

.cajasContenedoras {
  background-color: #d5708e;
  height: 700px;
}
.cajasContenedoras div {
  align-content: center;
  font-weight: 900;
  width: 60%;
  height: 200px;
  border-style: dashed;
  border-radius: 50px;
  border-color: #fcfdf5;
}
.cajasContenedoras div p {
  display: flex;
  justify-content: normal;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 0px 15px;
  color: #fcfdf5;
}

@media screen and (max-width: 426px) {
  .cajaPrincipal {
    padding: 0;
  }
  .cajaPrincipal .cajaPrincipalDerecha {
    position: absolute;
    z-index: -1;
    margin-top: 10px;
    right: 7px;
  }
  .cajaPrincipal .cajaPrincipalIzquierda {
    display: flex;
    justify-content: left;
    align-items: normal;
    height: 320px;
    flex-direction: column;
  }
  .cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal h1 {
    margin-left: 0;
    width: 70%;
  }
  .cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal-abajo {
    margin: 0;
    justify-content: left;
  }
  .cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal-abajo h4 {
    color: black;
  }
  .cajasContenedoras {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
  }
  .cajasContenedoras div {
    height: auto;
    width: 80%;
    margin-top: 50px;
  }
  .botonUnete {
    padding: 5px;
  }
}
@media screen and (min-width: 768px) {
  .cajaPrincipal {
    padding-top: 40px;
  }
  .cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal h1 {
    font-size: 40px;
    margin-left: 100px;
  }
  .cajaPrincipal .cajaPrincipalIzquierda .textoPrincipal-abajo h4 {
    font-size: 22px;
  }
  .cajaPrincipal img {
    padding-right: 10px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  main .cajasContenedoras div p {
    padding: 0px 0px;
  }
}
.cajaSuperior {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  height: 100px;
  margin-bottom: 100px;
}
.cajaSuperior h1 {
  display: inline-block;
  text-align: center;
}

.fondoRosa {
  background-color: #d5708e;
}

.olaPromociones img {
  position: absolute;
}

.imagenesPromocion div {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: normal;
  align-items: center;
}
.imagenesPromocion div p {
  font-size: 18px;
  text-align: center;
  color: #d5708e;
  font-weight: 600;
}
.imagenesPromocion img {
  height: 280px;
}
.imagenesPromocion #fondoRosaPromo p {
  color: white;
}

#cajaTextoInf {
  background-color: #d5708e;
}
#cajaTextoInf #textoInferior {
  display: flex;
  justify-content: center;
  align-items: normal;
  color: #fcfdf5;
  margin: 0;
}

#olaPromociones {
  left: 0;
  margin: 0;
  top: 20;
}

@media screen and (max-width: 426px) {
  .imagenesPromocion {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .imagenesPromocion img {
    height: 150px;
  }
  .cajaSuperior {
    height: auto;
    margin: 0;
  }
  .cajaSuperior h1 {
    font-size: 30px;
    width: 90%;
  }
  .cajaSuperior #cajaSuperior-calidad {
    text-align: center;
    margin-top: 0;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .imagenesPromocion img {
    height: 10em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .imagenesPromocion img {
    height: 13em;
  }
}
@media screen and (min-width: 769px) {
  .imagenesPromocion div p {
    font-size: 25px;
  }
  .imagenesPromocion #fondoRosaPromo p {
    font-size: 25px;
  }
}
.preguntasFrec {
  padding-left: 90px;
  font-size: 50px;
}

.preguntas-faq {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.preguntas-faq img {
  height: 100px;
}
.preguntas-faq div {
  width: 50%;
  font-size: 20px;
  padding: 25px 40px;
  box-sizing: border-box;
}
.preguntas-faq .p3 {
  width: 90%;
}

@media screen and (max-width: 426px) {
  .preguntasFrec {
    padding: 0;
    text-align: center;
  }
  .preguntas-faq {
    flex-direction: column;
  }
  .preguntas-faq div {
    width: 100%;
    padding: 0px 40px;
  }
  .preguntas-faq .p3 {
    width: 100%;
  }
}
@media screen and (min-width: 1650px) {
  .arregloView {
    height: 1000px;
  }
}
.mainRegistro {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}
.mainRegistro .razonesRegistro,
.mainRegistro .razonesComerciales {
  width: 90%;
  border-color: #d5708e;
  border-style: dotted;
  margin: 10px 10px;
  padding: 20px 15px;
}
.mainRegistro .razonesComerciales #comentarioDeContacto {
  height: 200px;
  width: 99.3%;
}

main label {
  padding: 10px 10px;
}
main input {
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgrey;
}

#botonRegistro {
  margin: 5px 5px;
  padding: 9px;
  border-color: #fcfdf5;
  border-radius: 10px;
  font-size: 15px;
  font-style: italic;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (max-width: 426px) {
  .mainRegistro .razonesComerciales, .mainRegistro .razonesRegistro {
    margin: 10px 3px;
    box-sizing: border-box;
  }
  .mainRegistro .razonesComerciales #comentarioDeContacto {
    width: 96%;
  }
  .mainRegistro h1 {
    font-size: 1.7rem;
    text-align: center;
  }
  .flexMobileRegistro {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
