@import "../utils/variables";
.contenedorSuperior {
  p {
    font-size: 30px;
    padding: 2% 10% 0% 10%;
  }
  div {
    @include modFlex(space-around, center);
    flex-direction: row;
    img {
      height: 500px;
      padding-right: 100px;
    }
    h1 {
      display: inline-block;
      font-size: 60px;
      padding-left: 100px;
    }
  }
}
.ola {
  z-index: -1;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  top: 10px;
  width: 100%;
}
.contenedorInferior {
  h1 {
    padding: 120px 0px 50px 15%;
    font-size: 60px;
    margin: 0;
    background-color: $colorPrimario;
    color: white;
  }
  p {
    font-size: 30px;
    padding: 2% 10% 0% 10%;
  }
  #textorosa {
    background-color: $colorPrimario;
    margin: 0;
    color: $colorSecundario;
    padding-bottom: 10%;
  }
}
// MOBILE
@media screen and (max-width: 426px) {
  .contenedorSuperior {
    width: 100%;
    justify-content: center;
    align-content: center;
    div{
      img {
        height: 100px;
        padding: 0;
      }
      h1 {
        font-size: 2rem;
        padding: 0;
        width: 40%;
      }
    }
  }
  .contenedorInferior {
    .textoSn {
      padding-left: 10px;
      padding-right: 10px;
    }
    .titulos1 {
      padding: 10px 20%;
    }
  }
}
// TABLET
@media screen and (min-width: 426px) and (max-width: 768px) {
  .contenedorSuperior {
    div{
      img {
        height: 250px;
      }
    }
  }
}
// LAPTOP
@media screen and (min-width: 769px) and (max-width: 1024px) {
.contenedorSuperior{
  div{
    img{
      padding-right: 50px;
    }
  }
}
}