.preguntasFrec{
    padding-left: 90px;
    font-size: 50px;
}
.preguntas-faq{
    @include modFlex(center, normal);
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    img{
        height: 100px;
    }
    div{
        width: 50%;
        font-size: 20px;
        padding: 25px 40px;
        box-sizing: border-box;
    }
    .p3{
        width: 90%;
    }
}
// MOBILE
@media screen and (max-width: 426px) {
    .preguntasFrec{
        padding: 0;
        text-align: center;
    }
    .preguntas-faq{
        flex-direction: column;
        div{
            width: 100%;
            padding:0px 40px ;
        }
        .p3{
            width: 100%;
        }
    }
}
// ABOVE-DESKTOP
@media screen and (min-width: 1650px){
    .arregloView{
        height: 1000px;
    }
}
