// UTILS
@import "../utils/variables";
.cajaPrincipal {
  @include modFlex(space-around, normal);
  padding: 80px 0px;
  .cajaPrincipalIzquierda {
    .textoPrincipal {
      h1 {
        margin-left: 25%;
        margin-bottom: 5px;
        margin-top: 70px;
      }
    }
    .textoPrincipal-abajo {
      @include modFlex(right, center);
      margin-right: 20%;
      h4 {
        display: inline-block;
        color: $colorPrimario;
        margin: 0px 10px;
      }
      hr {
        width: 10%;
        display: inline-block;
        width: 70px;
        height: 1px;
        margin: 0;
        background-color: black;
      }
    }
  }
  img {
    height: 300px;
  }
}
.cajasContenedoras {
  background-color: $colorPrimario;
  height: 700px;
  div {
    @extend %centrarFlex;
    align-content: center;
    font-weight: 900;
    width: 60%;
    height: 200px;
    border-style: dashed;
    border-radius: 50px;
    border-color: $colorSecundario;
    p {
      @include modFlex(normal, center);
      text-align: center;
      font-size: 30px;
      padding: 0px 15px;
      color: $colorSecundario;
    }
  }
}
// MOBILE
@media screen and (max-width: 426px) {
  .cajaPrincipal {
    padding: 0;
    .cajaPrincipalDerecha {
      position: absolute;
      z-index: -1;
      margin-top: 10px;
      right: 7px;
    }
    .cajaPrincipalIzquierda {
      @include modFlex(left, normal);
      height: 320px;
      flex-direction: column;
      .textoPrincipal {
        h1 {
          margin-left: 0;
          width: 70%;
        }
      }
      .textoPrincipal-abajo {
        margin: 0;
        justify-content: left;
        h4 {
          color: black;
        }
      }
    }
  }
  .cajasContenedoras {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
    div {
      height: auto;
      width: 80%;
      margin-top: 50px;
    }
  }
  .botonUnete {
    padding: 5px;
  }
}
// TABLET
@media screen and (min-width:768px){
  .cajaPrincipal{
    .cajaPrincipalIzquierda	{
      .textoPrincipal{
        h1{
          font-size: 40px;
        }
      }
      .textoPrincipal-abajo{
        h4{
          font-size: 22px;
        }
      }
    }
  }
}
@media screen and (min-width:426px) and (max-width:768px){
  main{
    .cajasContenedoras{
      div{
        p{
          padding: 0px 0px;
        }
      }
    }
  }
}