.cajaSuperior {
  @include modFlex(normal, center);
  flex-direction: column;
  margin-bottom: 50px;
  h1 {
    display: inline-block;
    text-align: center;
  }
}
.fondoRosa {
  background-color: $colorPrimario;
}
.olaPromociones img {
  position: absolute;
}
.imagenesPromocion {
  div {
    display: flex;
    flex-direction: column;
    @include modFlex(normal, center);
    p {
      font-size: 18px;
      text-align: center;
      color: $colorPrimario;
      font-weight: 600;
    }
  }
  img {
    height: 280px;
  }
  #fondoRosaPromo {
    p {
      color: white;
    }
  }
}
#cajaTextoInf {
  background-color: $colorPrimario;
  #textoInferior {
    @include modFlex(center, normal);
    color: $colorSecundario;
    margin: 0;
  }
}
#olaPromociones {
  left: 0;
  margin: 0;
  top: 20;
}
// MOBILE
@media screen and (max-width: 426px) {
  .imagenesPromocion {
    display: grid;
    grid-template-columns: 50% 50%;
    img {
      height: 140px;
    }
  }
  .cajaSuperior {
    margin: 0;
    h1 {
      font-size: 30px;
      width: 90%;
    }
    #cajaSuperior-calidad {
      text-align: center;
      margin-top: 0;
    }
  }
}
// TABLET
@media screen and (min-width: 426px) and (max-width: 768px) {
  .imagenesPromocion {
    img {
      width: 100%;
      height: auto;
    }
  }
  .cajaSuperior{
    margin-bottom: 0;
  }
}
// LAPTOP
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .imagenesPromocion {
    div {
      height: auto;
      img {
        height: auto;
        width: 100%;
      }
      a {
        width: 100%;
      }
    }
  }
}
// LAPTOP L
@media screen and (min-width: 1025px) and (max-width: 2560px) {
  .imagenesPromocion {
    div {
      height: auto;
      a,img {
        width: 100%;
      }
    }
  }
}
// DESKTOP´
@media screen and (min-width: 769px) {
  .imagenesPromocion {
    div {
      p {
        font-size: 25px;
      }
    }
    #fondoRosaPromo {
      p {
        font-size: 25px;
      }
    }
  }
}
