.cajaSuperior {
  @include modFlex(normal, center);
  flex-direction: column;
  height: 100px;
  margin-bottom: 100px;
  h1 {
    display: inline-block;
    text-align: center;
  }
}
.fondoRosa {
  background-color: $colorPrimario;
}
.olaPromociones img {
  position: absolute;
}
.imagenesPromocion {
  img {
    height: 280px;
  }
}
#cajaTextoInf {
  background-color: $colorPrimario;
  #textoInferior {
    @include modFlex(center, normal);
    color: $colorSecundario;
    margin: 0;
  }
}
#olaPromociones {
  left: 0;
  margin: 0;
  top: 20;
}
// MOBILE
@media screen and (max-width: 426px) {
  .imagenesPromocion {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 200px);
    img {
      height: 150px;
    }
  }
  .cajaSuperior {
    height: auto;
    margin: 0;
    h1 {
      font-size: 30px;
      width: 90%;
    }
    #cajaSuperior-calidad {
      text-align: center;
      margin-top: 0;
    }
  }
}
// TABLET
@media screen and (min-width: 426px) and (max-width: 768px) {
  .imagenesPromocion {
    img {
      height: 10em;
    }
  }
}
// LAPTOP
@media screen and (min-width: 769px) and (max-width: 1024px) {
.imagenesPromocion{
  img{
    height: 13em;
  }
}
  }
