.mainRegistro {
  .razonesRegistro,
  .razonesComerciales {
    width: 90%;
    border-color: black;
    border-style: solid;
    margin: 10px 10px;
    padding: 20px 15px;
  }
  .razonesComerciales {
    #comentarioDeContacto {
      height: 200px;
      width: 99.3%;
    }
  }
}
main {
  label {
    padding: 10px 10px;
  }
}
  