// UTILS
@import "../utils/variables";

.cajasContenedoras {
 @extend %gridCentrado;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.imagenesPromocion {
  @extend %gridCentrado;
  grid-template-columns: repeat(4, 1fr);
  align-items: baseline;
}
