// UTILS
@import "../utils/variables";

.cajasContenedoras {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.imagenesPromocion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  justify-items: center;
  align-items: center;
}
