// UTILS
@import "../utils/variables";

body {
  header {
    @include modFlex(space-between, center);
    img {
      width: auto;
      height: 80px;
    }
  }
}
// MOBILE
@media screen and (max-width: 426px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    nav {
      width: 100%;
      padding: 0;
      margin-top: 10px;
      ul {
        display: flex;
        background-color: $colorPrimario;
        margin: 0;
        
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 10px 4.5px;
        border-radius: 0px;
        border-style: none;
        font-size: 0.7rem;
        a {
          color: $colorSecundario;
        }
      }
    }
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    width: 100%;
    nav {
      padding-right: 0;
      width: 80%;
    }
    img {
      height: 50px;
    }
  }
}
// LAPTOP
@media screen and (min-width:769px) and (max-width:1024px){
  body{
    header{
      nav{
        padding-right: 22px;
      width: 60%;
      }
    }
  }
}