// UTILS
@import "../utils/variables";

nav {
    width: 50%;
    position: relative;
    padding-right: 20px;
    li {
      display: flex;
      align-items: center;
      padding: 11px 3%;
      text-align: center;
      border-style: dashed;
      border-color: $colorPrimario;
      border-radius: 10px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
    }
}